{% extends "Delivery/index.html" %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<!-- card -->
<div class="card">
    <div class="card-body">
        <h5 id="id" class="card-title">{{package.id}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{package.value}}</h6>
        <p class="card-text">{{package.status}}</p>
        <p class="card-text">{{package.category}}</p>
        <p class="card-footer">{{package.final_delivery_date}}</p>
    </div>

    <a href="{% url 'packages' %}">back</a>
    
    
    <!-- delete -->
    <button class="btn btn-danger" onclick="deletePackage('{{package.id}}')">Delete</button>
    <!-- update -->
    <form method="post">
        {% csrf_token %}
        {{form}}
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock %}