{% extends "Delivery/index.html" %}

{% block body %}
    <div class="container">
        <div class="card">
            <h2>Register</h2>
        
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'register_customer' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input id="form-button" class="btn btn-dark" type="submit" value="Register">
            </form>

            Already have an account? <button id="form-button" class="btn btn-dark" onclick="window.location.href='{% url 'login' %}'">Login here.</button>
            <button id="form-button" class="btn btn-dark" onclick="window.location.href='{% url 'menu' %}'">Back to Menu</button>

        </div>
        
    </div>
    

{% endblock %}